.auth_block__form{
    margin-top:50px;
    margin-right: 120px;
}
.auth_block__form-login{
    margin-right: 87px;
}
.auth_block__input-filed{
    position: relative;
}
.auth_block__input-filed:after{
    content:"";
    display:block;
    clear:both;
}
.auth_block__input-filed >input[type=text],.auth_block__input-filed >input[type=password],.auth_block__input-filed > label {
    float:left;
}
.auth_block__input-filed > label{
    width:120px;
    text-align: right;
    font-size: 16px;
    line-height:normal;
    margin-right:16px;
    padding: 8px;
}

.auth_block__input-filed > input[type=text], .auth_block__input-filed > input[type=password]{
    background-color: #ffffff;
    width: 280px;
    height:38px;
    color: #000000;
    border:none;
    margin-bottom: 0;
    padding: 5px;
    border-radius:2px;
    box-sizing: border-box;
}
.auth_block__invalid-message{
    height: 43px;
    padding-top: 5px;
}
.auth_block__invalid-message p{
    color:rgb(255,214,98);
    font-size:11px;
    line-height: 14px;
    text-align: left;
    vertical-align: top;
    padding-left: 140px;
    margin:0;
}
.auth_block__group-name{
    display:block;
    text-align:center;
    margin-top:27px;
    font-size: 24px;
}
.auth_block__group-title{
    display:block;
    text-align:center;
    margin:0px 10px 94px 10px;
    font-size: 18px;
}
.auth_block__title{
    display:block;
    text-align:center;
    margin:37px 10px 118px 10px;
    font-size: 18px;
}
.auth_btn{
    display:block;
    margin:0 auto;
    width:144px;
    height:52px;
    padding:5px;
    text-align:center;
    background-image:url('/img/nextbutton_nor.png');
    background-repeat: no-repeat;
    transform: translateX(65px);
    margin-top:50px;
    cursor:pointer;
}
.auth_btn:hover{
     background-image:url('/img/nextbutton_pre.png');
 }
.auth_btn:active{
    background-image:url('/img/nextbutton_sel.png');
}
.auth_block__icon{
    position: absolute;
    top: 50%;
    right: 5px;
    color:rgb(121, 128, 126);
    transform: translateY(-50%);
    right: 12px;
    cursor: pointer;
}

.auth_block__icon--active{
    color:blue;
}

.auth_block__checkbox-group{
    display:inline-block;
    width:280px;
    background-color:rgb(144, 148, 147);
    text-align:center;
    border-radius:30px;
    padding:7px 10px;
    margin-left:auto;
    margin-right:auto;
}
.auth_block__checkbox{
    position:relative;
    display:inline-block;
}
.auth_block__checkbox > label{
    font-size:16px;
    padding-left:30px;
    margin:0 20px;
}
.auth_block__checkbox label:before{
    position:absolute;
    top:calc(50% - 10px);
    left:10px;
    content:"";
    width:20px;
    height:20px;
    background-color:rgb(144, 148, 147);
    border:2px solid #ffffff;
    border-radius:20px;
}

.auth_block__checkbox label:after{
    position: absolute;
    top: calc(50% - 6px);
    left: 15px;
    content: "";
    width: 11px;
    height: 11px;
    background-color: #fff;
    border-radius: 10px;
}
.auth_block__checkbox--disable >label{
    color:rgb(170, 175, 173);
}
.auth_block__checkbox--disable >label:before{
    border:2px solid rgb(170, 175, 173);
}
.auth_block__checkbox--disable >label:after{
    opacity:0;
}
.auth_block__icon-notice{
    display: inline-block;
    vertical-align: middle;
    margin-left:8px;
}
.auth_block__icon-notice:hover + .auth_block__role-tip{
    opacity: 1;
}
.auth_block__role-tip{
    opacity: 0;
    position: absolute;
    top: -30px;
    right: -240px;
}