canvas {
    background-color:#000000;
    background-size: cover;
}

.canvas_block{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}

.canvas_block__canvas--tracking{
    background: transparent;
}

.canvas_block-sticker{
    position:absolute;
    left:-999px;
    z-index: 99;
}