
.chat_block{
    display: flex;
    height:566px;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color:rgb(245, 245, 245);
}
.chat_block main{
    height:100%;
}
.chat_block__messages{
    flex: 1 1 auto;
    color: black;
    position: relative;
    width: 100%;
    height:100%;
}
.chat_block__messages-content{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding:17px 27px;
}
.chat_block__messages-content::-webkit-scrollbar {
    width: 5px;
}

.chat_block__messages-content::-webkit-scrollbar-track {
    background: #ddd;
}

.scroll1::-webkit-scrollbar-thumb {
    background: #666;
}
.chat_block__send-data .message{
    position:relative;
    width:100%;
    text-align:left;
    padding:12px 70px 12px 51px;
    box-sizing: border-box;
    margin-bottom: 16px;
    background-color: #ffffff;
    font-size: 14px;
    color:rgb(97,97,97);
    word-wrap: break-word;
}
.message_file_name{
    font-size: 18px;
}
.icon-message{
    position:absolute;
    left:15px;
    top:14px;
}
.chat_block__input-box{
    position:relative;
    background-color: #ffffff;
    padding: 10px;
    width:100%;
    height:83px;
    bottom: 10px;
}

.chat_block__input-box .message-input{
    border: none;
    outline: none!important;
    font-size: 14px;
    height: 50px;
    margin: 0;
    padding-right: 20px;
    width: calc(100% - 100px);
    color:#000000;
}
.message-date{
    position: absolute;
    top: 10px;
    right: 10px;
}
.message-submit{
    cursor:pointer;
    vertical-align: super;
}
.message-submit:hover{
    opacity: 0.5;
}