.display_file_dir_block{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.display_file_dir_block__dir-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 255px;
    background-color:rgba(77, 77, 77,0.8);
    border-radius: 10px;
}
.display_file_dir_block__file{
    background-color:rgba(0, 0, 0,0.6);
}
.icon_expert_file{
    object-fit: contain;
}
.icon_expert_close{
    position:absolute;
    top:10px;
    right:10px;
    cursor: pointer;
}