
.novice-list {
    background-color: rgb(77,77,77);
    border: 1px solid rgb(223, 223, 223);
    padding: 0 0 !important;
}

.novice-list__total-member {
    color: #ffffff;
    padding: 20px 20px;
    border-bottom: 1px solid rgb(223, 223, 223);
    background-color: rgb(77, 77, 77);
}
.novice-list__total-member ul{
    overflow-y: scroll;
}
.novice-list__items {
    cursor: pointer;
    width: 100%;
    padding: 15px 15px;
    color: rgb(77, 77, 77);
    border-bottom: 1px solid rgb(242,242,242);
    background-color: #ffffff;
}

.novice-list__items div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.novice-list__items-name {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    color: inherit;
    padding: 0 30px;

}
.novice-list__profile-icon img{
    vertical-align: middle;
}
.novice-list__items-status {
    position: relative;
    right: 10px;
}

.novice-list__items--available:before,.novice-list__items--busy:before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
}

.novice-list__items--available {
    font-size: 14px;
    color: #41d62f;
}
.novice-list__items--available:before{
    background-color: #41d62f;
}
.novice-list__items--active {
    /*background: -webkit-linear-gradient(left, rgba(45, 44, 44, 0.2), rgba(255, 255, 255, 1));*/
    background: rgba(255,255,255,0.7);
    border: 2px double #c3c3c5;
}

.novice-list__items--busy {
    color: rgb(219, 100, 100);
}
.novice-list__items--busy:before{
    background-color: rgb(219, 100, 100);
}

/*loading */
.home_loading_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

.home_loading_block__loading-img {
    text-align: center;
    margin-top: 75px;
    width: 300px;
}

.home_loading_block__loading-img img {
    margin: 10px;
}

.home_loading_block__title {
    text-align: center;
    font-size: 36px;
}

.home_loading_block__desc {
    text-align: center;
    font-size: 24px;
}
