
.call_block__title{
    display:block;
    text-align:center;
    font-size:36px;
    color:#000000;
    margin-top:105px;
}
.call_block__description{
    text-align:center;
    color:#000000;
    margin-top:37px;
}
.call_block__img-description{
    margin-top:57px;
    font-size: 18px;
}
.call_block__btn{
    text-align:center;
}
.call_block__call-end{
    border-radius: 100%;
    background-color: red;
    padding:8px;
}
.call_block__call{
    border-radius: 100%;
    background-color: deepskyblue;
    padding:8px;
}

.send_accept_call_main{
    height:100%;
}
.send_accept_call_main.INIT, .send_accept_call_main.CALL_DISCONNECTED{
    background-color: rgb(242,242,242);
}
.send_call_block,.accept_call_block{
    text-align: center;
    margin-top:173px;
}
.send_call_block__btn{
    margin-top: 83px;
}
.send_call_block__profile-icon, .accept_call_block__profile-icon{
    margin-bottom:18px;
}


/*loading */
.connecting_loading_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

.connecting_loading_block__loading-img {
    text-align: center;
    margin-top: 75px;
}

.connecting_loading_block__loading-img img {
    margin: 10px;
}

.connecting_loading_block__title {
    text-align: center;
    font-size: 36px;
}

.connecting_loading_block__desc {
    text-align: center;
    font-size: 24px;
}
