
.container_video_chat{
    height: 100%;
}
.container_video_chat__title{
    height:20px;
    margin:20px;
}

.video_canvas_block{
    position: relative;
    width: 844px;
    height: 422px;
    /*margin-top: 45px;*/
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 89px;*/
}
.video_block{
    width: 100%;
    height: 100%;
    overflow:hidden;
}
.video_block video{
    width:100%;
    height:100%;
    object-fit: cover;
}
.video_block__remote-video{
    background-color:#799dc7;
    width:100%;
    height:100%;
}
.video_block__local-video{
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 180px;
    height: 135px;
    border-radius: 8px;
    z-index: 60;
    background-color:yellow;
    transform: rotateY(180deg);
}
.capture_loading_block{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:999;
}
.wrapper.wrapper-capture-loading{
    background: rgba(0, 0, 0, 0.6);
}
.capture_loading_block-img img{
    margin: 10px;
}
.call_ended_block{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}
.call_ended_block__profile-icon{
 text-align: center;
}

.background_disabled_block{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 100;
    background-color:rgba(0,0,0,0.5);

}
.background_disabled_block main{
    padding-top: 20%;
}
.background-disabled-block__noti{
    display: inline-block;
    padding: 10px 25px;
    background: rgba(72, 70, 70, 1);
    border-radius: 5px;
}

#remote-svg{
    display: none;
    position:absolute;
    z-index:50;
    top:0px;
    left:0px;
}