
.video_block__control-btn{

    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:auto;
    margin-top:37px;
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(121, 128, 126);
}
.video_block__control-btn-wrapper{
    display: inline-block;
    vertical-align: top;
    background-color:rgba(77, 77, 77,0.8);
    padding: 14px 12px;
    border: 1px solid rgb(179, 179, 179);
}

.video_block__control-btn-wrapper img{
    margin-left: 10px;
    margin-right: 10px;
    padding:10px 20px;
    cursor:pointer;
}
.video_block__control-btn-wrapper img:hover{
    opacity: 0.5;
}
.video_block__control-btn-wrapper img.active{
    opacity: 1;
}
.video_block__control-btn-wrapper span{
    display: inline-block;
    padding: 0px 12px;
}
.video_block__control-btn-wrapper span:nth-child(1){
    border-right:1px solid rgb(179, 179, 179);
}
.video_block__control-btn-wrapper .draw-btn{
    padding:10px 5px;
}
.video_block__control-btn-wrapper .draw-btn-sel{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.video_block__control-btn-wrapper .draw-btn-disabled{
    padding:10px 5px;
    opacity: 0.5;
}
.video_block__control-btn-wrapper .draw-btn-wrapper{
    display: inline-block;
    position:relative;
}

.video_block__control-direction{
    display: inline-block;
    vertical-align: middle;
    margin:0px 30px;
}
.video_block__control-direction div{
    text-align: center;
}
.video_block__control-direction img{
    vertical-align:middle;
    margin: 5px 5px;
    padding:2px 2px;
}
#video-end-call{
    position: absolute;
    top: 0;
    right: -130px;
    z-index: 9999;
    /* margin-left: 38px; */
}

#direction-close {
    position:absolute;
    top:10px;
    right: 10px;
    margin:0;
}
.custom_tooltip{
    position:absolute;
    padding: 10px 8px;
    font-size: .8rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    min-height: 36px;
    line-height: 120%;
    z-index: 2000;
    display: none;
}