
html, body{
    height:100vh;
}
body{
    min-width: 1280px;
    min-height: 700px;
}
main{
    position:relative;
}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,legend,button
form,p,label, blockquote{
    color:#ffffff;
}
h1{
    font-size: 64px;
}
h4{
    font-size: 30px;
    margin:20px;
}
h5{
    font-size: 24px;
    margin:20px;
    text-align: center;
}
h6{
    font-size: 16px;
    text-align: center;
    margin:20px;
}
ul{
    margin:0;
}
header{
    text-align: center;
}

.col.s3, .col.s9, .col.s12{
    height: calc(100% - 74px);
    position:relative;
}
.row .col {
    padding: 0 0;
}
.row{
    /*height: 100%;*/
    margin-bottom: 0px;
}
.row.vivar-main{
     /*height: auto;*/
    height:100%;
 }
#root{
    height:100%;
}
#root > [data-reactroot] { height: 100% }

#root-container{
    height:100%;
    background-color: rgb(121, 128, 126);
}
#root-container>div{
    height:100%;
}
#root-container-vivar{
    display: block;
    height:100%;
    background-color: rgb(121, 128, 126);
}
#root-container-vivar>div{
    height:100%;
}

.wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    background: rgb(121, 128, 126);
}
.wrapper-home{
    background: #ffffff;
}
.wrapper-home h3{
    color:#000000;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-72 { font-size: 72px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

nav{
}
.header_block{
    height:74px;
    background-color:#635f5f;
}
.header_block__brand-logo{
    padding-top:17px;
}
.header_block__logout{
    position:absolute;
    top:26px;
    left:20px;
    cursor: pointer;
}
.header_block__title{
    font-size: 14px;
}




/*buttons*/

.end-call,.accept-call{
    display: inline-block;
    width:90px;
    height:90px;
    border: 1px solid rgb(179, 179, 179);
}
.end-call{
    background:url('/img/videocall cancel_nor.png') no-repeat;
    background-size:cover;
    cursor: pointer;
}
.end-call:hover{
    background:url('/img/videocall cancel_pre.png') no-repeat;
    background-size:cover;
}
.end-call:active{
    background:url('/img/videocall cancel_sel.png') no-repeat;
    background-size:cover;
}
.accept-call:hover{
    background:url('/img/videocall accept_pre.png') no-repeat;
    background-size:cover;
}
.accept-call:active{
    background:url('/img/videocall accept_sel.png') no-repeat;
    background-size:cover;
}

/*loadind*/

.loading_icon:nth-child(1){
    animation: loading 1.8s 0.1s ease infinite;
}
.loading_icon:nth-child(2){
    animation: loading 1.8s .4s ease infinite;
}
.loading_icon:nth-child(3){
    animation: loading 1.8s .7s ease infinite;
}
.loading_icon:nth-child(4){
    animation: loading 1.8s 1s ease infinite;
}
.loading_icon:nth-child(5){
    animation: loading 1.8s 1.3s ease infinite;
}
@keyframes loading {
    0%{
        opacity: 0.2;
    }
    14%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}